html,
body {
      background-color: #f6f6f6;
      margin: 0;
      padding: 0;
      height: 100%;
      /*Thêm dòng này */
      position: relative;
      overflow: hidden;
      /* Đảm bảo tuyết không bị cắt ngoài màn hình */
}

/*--------------------------------Christmast effect snow-----------------------*/
.sleigh {
      font-size: 3rem;
      color: transparent;
      /*set color to transparent to re-color emojis*/
      text-shadow: 0 0 0 #06223f;
      /*recolor emojis*/
}

.santa {
      animation-name: up, across;
      animation-duration: 10s, 6.5s;
      animation-timing-function: ease-in-out, linear;
      animation-iteration-count: 1, 1;
      animation-delay: 3s, 5s;
      position: absolute;
      right: -80px;
      top: 100px;
      z-index: 2;
      filter: blur(1px);
}

.santa1 {
      animation-name: up, across;
      animation-duration: 10s, 6.5s;
      animation-timing-function: ease-in-out, linear;
      animation-iteration-count: 1, 1;
      animation-delay: 3.2s, 5.1s;
      position: absolute;
      right: -80px;
      top: 100px;
      z-index: 2;
      filter: blur(1px);
}

.santa2 {
      animation-name: up, across;
      animation-duration: 10s, 6.5s;
      animation-timing-function: ease-in-out, linear;
      animation-iteration-count: 1, 1;
      animation-delay: 3.4s, 5.2s;
      position: absolute;
      right: -80px;
      top: 100px;
      z-index: 2;
      filter: blur(1px);
}

.santa3 {
      animation-name: up, across;
      animation-duration: 10s, 6.5s;
      animation-timing-function: ease-in-out, linear;
      animation-iteration-count: 1, 1;
      animation-delay: 3.6s, 5.3s;
      position: absolute;
      right: -80px;
      top: 100px;
      z-index: 2;
      filter: blur(1px);
}

.santa4 {
      animation-name: up, across;
      animation-duration: 10s, 6.5s;
      animation-timing-function: ease-in-out, linear;
      animation-iteration-count: 1, 1;
      animation-delay: 3.8s, 5.4s;
      position: absolute;
      right: -80px;
      top: 100px;
      z-index: 2;
      filter: blur(1px);
}

.santa5 {
      animation-name: up, across;
      animation-duration: 10s, 6.5s;
      animation-timing-function: ease-in-out, linear;
      animation-iteration-count: 1, 1;
      animation-delay: 4s, 5.6s;
      position: absolute;
      right: -80px;
      top: 100px;
      z-index: 2;
      filter: blur(1px);
}

.fa-star {
      color: #0b364f;
}

.fa-sleigh {
      color: #06223f;
      transform: scale(-1, 1);
}

@keyframes up {
      0% {
            transform: translateY(0%);
      }

      50% {
            transform: translateY(100px);
      }

      100% {
            transform: translateY(0);
      }
}

@keyframes across {
      from {
            right: 0%;
      }

      to {
            right: 100%;
      }
}

.fa-snowflake {
      color: #ecf2f8;
}

.snow {
      width: 100%;
      height: 100%;
      position: absolute;
}

.snowflake {
      animation-name: fall, shake;
      animation-duration: 10s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 200px;
      z-index: 7;
      filter: blur(0.5px);
}

.snowflake1 {
      animation-name: fall, shake;
      animation-duration: 10s, 3s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 500px;
      top: -100px;
      animation-delay: 1s, 1s;
      z-index: 7;
      filter: blur(0.5px);
}

.snowflake2 {
      animation-name: fall, shake;
      animation-duration: 8s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 20px;
      top: -100px;
      animation-delay: 2s, 2s;
      z-index: 7;
      filter: blur(0.5px);
}

.snowflake3 {
      animation-name: fall, shake;
      animation-duration: 9s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      right: 170px;
      top: -100px;
      animation-delay: 3s, 5s;
      z-index: 5;
      filter: blur(0.7px);
}

.snowflake4 {
      animation-name: fall, shake;
      animation-duration: 15s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      right: 430px;
      top: -100px;
      animation-delay: 4s, 4s;
      z-index: 5;
}

.snowflake5 {
      animation-name: fall, shake;
      animation-duration: 15s, 4s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 500px;
      top: -100px;
      animation-delay: 6s, 2s;
      font-size: 2rem;
      z-index: 6;
      filter: blur(0.5px);
}

.snowflake6 {
      animation-name: fall, shake;
      animation-duration: 12s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 75px;
      top: -100px;
      animation-delay: 3.2s, 2s;
      font-size: 2rem;
      z-index: 6;
}

.snowflake7 {
      animation-name: fall, shake;
      animation-duration: 11s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 650px;
      top: -100px;
      animation-delay: 7.2s, 1s;
      z-index: 7;
}

.snowflake8 {
      animation-name: fall, shake;
      animation-duration: 12s, 4s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 820px;
      top: -100px;
      animation-delay: 4s, 2s;
      font-size: 2rem;
      z-index: 5;
      filter: blur(0.5px);
}

.snowflake9 {
      animation-name: fall, shake;
      animation-duration: 12s, 4s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 170px;
      top: -100px;
      animation-delay: 5s, 2s;
      font-size: 2rem;
      z-index: 5;
      filter: blur(0.3px);
}

.snowflake10 {
      animation-name: fall, shake;
      animation-duration: 15s, 9s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 350px;
      top: -100px;
      animation-delay: 2.7s, 2s;
      font-size: 3rem;
      z-index: 7;
}

.snowflake11 {
      animation-name: fall, shake;
      animation-duration: 12s, 7s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      right: 400px;
      top: -100px;
      animation-delay: 0.5s, 2s;
      font-size: 3rem;
      z-index: 7;
}

.snowflake12 {
      /*small*/
      animation-name: fall, shake;
      animation-duration: 12s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      left: 470px;
      top: -100px;
      animation-delay: 5s, 2s;
      z-index: 7;
      filter: blur(0.9px);
}

.snowflake13 {
      /*small*/
      animation-name: fall, shake;
      animation-duration: 10s, 5s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      right: 220px;
      top: -100px;
      animation-delay: 1s, 2s;
      z-index: 7;
      filter: blur(0.6px);
}

.snowflake14 {
      /*small*/
      animation-name: fall, shake;
      animation-duration: 9s, 4s;
      animation-timing-function: linear, ease-in-out;
      animation-iteration-count: infinite, infinite;
      position: absolute;
      right: 140px;
      top: -100px;
      animation-delay: 2s, 2s;
      z-index: 7;
      filter: blur(0.5px);
}

@keyframes fall {
      0% {
            top: -10%;
      }

      100% {
            top: 100%;
      }
}

@keyframes shake {
      0% {
            transform: translatex(0);
      }

      50% {
            transform: translatex(50px);
      }

      100% {
            transform: translatex(0);
      }
}



.snow-peak-1a {
      /*sharp snow edge*/
      position: absolute;
      content: "";
      bottom: -130px;
      left: -45px;
      border-top: 30px solid #c1cfd7;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-1b {
      position: absolute;
      content: "";
      bottom: -130px;
      left: -7px;
      border-top: 30px solid #c1cfd7;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.mt2 {
      position: absolute;
      content: "";
      left: -20px;
      bottom: 0;
      border-top: 0px solid transparent;
      border-right: 150px solid transparent;
      border-left: 150px solid transparent;
      border-bottom: 200px solid #094669;
      z-index: 6;
}

.snow2 {
      position: absolute;
      content: "";
      left: -75px;
      bottom: -98px;
      border-top: 0px solid transparent;
      border-right: 75px solid transparent;
      border-left: 75px solid transparent;
      border-bottom: 100px solid #e4e8eb;
}

.snow-peak-2a {
      position: absolute;
      content: "";
      bottom: -110px;
      left: -60px;
      border-top: 20px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-2b {
      position: absolute;
      content: "";
      bottom: -120px;
      left: -25px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-2c {
      position: absolute;
      content: "";
      bottom: -110px;
      right: -60px;
      border-top: 20px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.mt3 {
      position: absolute;
      content: "";
      left: 280px;
      bottom: 0;
      border-top: 0px solid transparent;
      border-right: 150px solid transparent;
      border-left: 150px solid transparent;
      border-bottom: 175px solid #094669;
      z-index: 6;
}

.snow3 {
      position: absolute;
      content: "";
      left: -70px;
      bottom: -80px;
      border-top: 0px solid transparent;
      border-right: 70px solid transparent;
      border-left: 70px solid transparent;
      border-bottom: 90px solid #e4e8eb;
}

.snow-peak-3a {
      position: absolute;
      content: "";
      bottom: -100px;
      left: -60px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-3b {
      position: absolute;
      content: "";
      bottom: -100px;
      left: -20px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-3c {
      position: absolute;
      content: "";
      bottom: -100px;
      right: -20px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-3d {
      position: absolute;
      content: "";
      bottom: -100px;
      right: -60px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.mt4 {
      position: absolute;
      content: "";
      left: 800px;
      bottom: 0;
      border-top: 0px solid transparent;
      border-right: 150px solid transparent;
      border-left: 150px solid transparent;
      border-bottom: 250px solid #0b364f;
      z-index: 3;
}

.snow4 {
      position: absolute;
      content: "";
      left: -47px;
      bottom: -75px;
      border-top: 0px solid transparent;
      border-right: 47px solid transparent;
      border-left: 47px solid transparent;
      border-bottom: 80px solid #c1cfd7;
}

.snow-peak-4a {
      /*sharp snow edge*/
      position: absolute;
      content: "";
      bottom: -100px;
      left: -45px;
      border-top: 30px solid #c1cfd7;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

/* the sharp snow edge an is INVERTED triangle, so we want to see the the top border,not bottom. Top border should have a color. Other borders should be transparent*/

.snow-peak-4b {
      position: absolute;
      content: "";
      bottom: -100px;
      left: -7px;
      border-top: 30px solid #c1cfd7;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.mt5 {
      position: absolute;
      content: "";
      left: 500px;
      bottom: 0;
      border-top: 0px solid transparent;
      border-right: 200px solid transparent;
      border-left: 200px solid transparent;
      border-bottom: 150px solid #094669;
      z-index: 6;
}

.snow5 {
      position: absolute;
      content: "";
      left: -100px;
      bottom: -75px;
      border-top: 0px solid transparent;
      border-right: 100px solid transparent;
      border-left: 100px solid transparent;
      border-bottom: 75px solid #e4e8eb;
}

.snow-peak-5a {
      position: absolute;
      content: "";
      bottom: -95px;
      left: -60px;
      border-top: 20px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-5b {
      position: absolute;
      content: "";
      bottom: -100px;
      left: -25px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-5c {
      position: absolute;
      content: "";
      bottom: -95px;
      right: -60px;
      border-top: 20px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.mt6 {
      position: absolute;
      content: "";
      left: 950px;
      bottom: 0;
      border-top: 0px solid transparent;
      border-right: 150px solid transparent;
      border-left: 150px solid transparent;
      border-bottom: 175px solid #094669;
      z-index: 6;
}

.snow6 {
      position: absolute;
      content: "";
      left: -70px;
      bottom: -80px;
      border-top: 0px solid transparent;
      border-right: 70px solid transparent;
      border-left: 70px solid transparent;
      border-bottom: 90px solid #e4e8eb;
}

.snow-peak-6a {
      position: absolute;
      content: "";
      bottom: -100px;
      left: -60px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-6b {
      position: absolute;
      content: "";
      bottom: -100px;
      left: -20px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-6c {
      position: absolute;
      content: "";
      bottom: -100px;
      right: -20px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

.snow-peak-6d {
      position: absolute;
      content: "";
      bottom: -100px;
      right: -60px;
      border-top: 30px solid #e4e8eb;
      border-right: 25px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 25px solid transparent;
}

/*---------------------------------------------------------------------------------*/
img {
      max-width: 100%;
}

body {
      display: grid;
      font-family: "Segoe UI", sans-serif;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(auto, auto);
      color: #3e3e3e;
      text-shadow: 0.4px 0.4px 0.4px rgba(0, 0, 0, .2);
}

h1 {
      font-weight: lighter;
      grid-column: span 3;
      text-align: center;
      color: #ec407a;
}

#wrapper {
      display: grid;
      grid-column: 3 / 11;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(auto, auto);
      grid-row-gap: 10px;
      margin-top: 3.6rem;
}

#clock-box,
#info {
      grid-column: span 3;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
}

#clock-box #clock {
      grid-column: 4 / 10;
      background-color: #F8C8C8;
      padding: .6rem 2rem;
      padding-top: .8rem;
      text-align: center;
      font-size: 2.4rem;
      border-radius: 10rem;
}

date,
time {
      display: block;
}

date {
      font-size: 18px;
}

time {
      font-family: "Arial", sans-serif;
      line-height: 3.2rem;
      letter-spacing: 2px;
}

.avt {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

#info {
      margin-top: 2.6rem;
}

#heart {
      grid-column: span 2;
      display: grid;
      grid-template-rows: 2;
      font-size: 44px;
      color: #b90d46;
      align-self: center;
      padding-bottom: 2.6rem;
      text-align: center;
}

anni {
      font-size: 16px;
      letter-spacing: 0.2px;
}

#info .one {
      grid-column: 3 / 6;
      text-align: center;
}

#info .two {
      grid-column: 8 / 11;
      text-align: center;
}

footer {
      grid-column: span 3;
      text-align: center;
      font-size: 1.6rem;
      font-weight: lighter;
      margin-top: 1.2rem;
}

#music {
      grid-column: 2;
      position: relative;
      z-index: 1000;
      opacity: .4;
}

#mask {
      background-image: linear-gradient(to top, #6d44cc5d 0%, #f09cd880 100%);
      opacity: .42;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}

@media (max-width: 992px) {
      #wrapper {
            grid-column: span 12;
      }

      #clock-box #clock {
            grid-column: 2 / 12;
      }

      .avt {
            width: 120px;
            height: 120px;
      }

      #info .one,
      #info .two {
            grid-column: span 12;
            ;
      }

      #heart {
            grid-column: span 12;
            padding-bottom: 1rem;
      }

      footer {
            font-size: 1.2rem;
            margin: 0;
            padding-bottom: 2rem;
      }
}